.z-minus {
  z-index: -1; }

/*********************
    GENERAL SETTINGS
*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh; }

section {
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%; }

/**************************************
                  HEADER
***************************************/
header {
  position: fixed;
  width: 100%;
  background: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh; }
  header .logo {
    height: 100%; }
    header .logo img {
      height: 100%;
      width: auto; }

/*******************************
                NAVIGATION
********************************/
nav {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 12vh;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
  padding: 1rem; }

nav.active-nav {
  max-height: 200px; }

.nav-box {
  height: 76vh; }
  .nav-box-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around; }
    .nav-box-item-link {
      margin-top: 12px; }

/*********************
    MENU BUTTON
*********************/
.menu-btn.active .menu-btn-line {
  background: transparent; }

.menu-btn.active .menu-btn-line::after {
  transform: rotate(45deg);
  top: 0; }

.menu-btn.active .menu-btn-line::before {
  transform: rotate(-45deg);
  top: 0; }

.menu-btn-line {
  height: 3px;
  width: 30px;
  margin-top: 5px;
  background-color: grey;
  display: block;
  border-radius: 1px;
  display: block;
  font-size: 1rem;
  position: relative;
  transition: 0.3s ease; }

.menu-btn-line::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: grey;
  top: -10px;
  transform: rotate(0deg);
  transition: 0.3s ease; }

.menu-btn-line::before {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: grey;
  top: 10px;
  transform: rotate(0deg);
  transition: 0.3s ease; }

/**************************************
                  MAIN
***************************************/
.main-content-heading {
  margin-top: 2rem; }
  .main-content-heading-primary {
    font-size: 2rem; }
  .main-content-heading-secondary {
    font-size: 1.5rem; }

.main-content-partners {
  margin-top: 3rem;
  align-self: baseline; }
  .main-content-partners-logo {
    width: 24%; }

/**************************************
                  FOOTER
***************************************/
footer {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 12vh;
  width: 100%; }
  footer .footer-box {
    display: inline-block;
    width: 50%;
    text-align: center; }

.icons {
  display: flex;
  justify-content: space-around; }
  .icons i {
    color: white; }
  .icons-outline {
    border-radius: 50%;
    background-color: grey;
    padding: 6px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }

/*********************
    DOWNLOAD BUTTON
*********************/
.download-btn {
  display: block;
  text-transform: uppercase;
  font-size: 80%;
  padding: 1rem;
  background-color: yellow;
  border-radius: 5px; }

/**************************************
            RIGHT BG SECTION
***************************************/
section .page {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

section .page-1 {
  background-image: url("../img/1.jpg"); }

section .page-2 {
  background-image: url("../img/2.jpg"); }

section .page-3 {
  background-image: url("../img/3.jpg"); }

/**************************************
                  ANIMATION
***************************************/
@keyframes menu1 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes menu2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-45deg); } }

.menuOpen1 {
  animation: menu1 linear 0.3s forwards;
  position: absolute; }

.menuOpen2 {
  animation: menu2 linear 0.3s forwards;
  position: absolute; }

.visibility {
  opacity: 0; }

/**************************************
            MEDIA QUERIES
***************************************/
@media screen and (min-width: 768px) {
  /*********  HEADER ************/
  header, footer {
    width: 50%; }
  header .icons {
    display: flex; }
    header .icons-outline {
      margin-left: 8px; }
  /*********  MAIN ************/
  .main-imgbox {
    display: none; }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; }
  .main-content-heading {
    text-align: center; }
  /*********  FOOTER ************/
  footer .icons {
    display: none; }
  footer .download {
    position: absolute;
    bottom: 60%;
    right: -25%;
    z-index: 2; } }

.bg-right {
  background-color: orangered;
  height: 100%;
  z-index: -1; }
